%h1 List of Artists
%table.museums
	%tbody
		%tr
			%th Name
			%th Born 
			%th Died
		= render partial: "artist", collection: @artists
%br/
= link_to "Add New Artist", new_artist_path, class: "btn btn-yellow btn-small" 

= render 'static_pages/home_links'