 body {
 	@include box-sizing(content-box);
 }

.container {
	display: block;
	max-width: $container-width;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 0;

	h1 {
		font-size: 2rem;
		margin-bottom: 50px;
	}

	h2 {
		margin-bottom: 50px;
	}
}

.center {
	
	// centers forms elements in .container
	text-align: center;
	
}

.museum-header {
	display: block;
	margin-top: 10px;
	@include pie-clearfix;
}

.museum-list {
	h1 {
		margin-bottom: 50px;
	}

	a {
		display: block;
		padding: 5px 0;
	}
}

.artist-selection {
	display: block;
	width: 100%;
	margin: 20px 0;

	p {
		padding: 20px;
	}

	a {
		margin-top: 0;
	}
}

.home-links {
	margin-top: 50px;
	

	a {
		@include border-radius($border-radius);
		text-align: center;
		display: inline-block;
		color: white;
		width: 170px;
		height: 170px;
		line-height: 170px;
		text-decoration: none;
		padding: 0;
		margin:0;
		&:hover {
			text-decoration: none;
		}
	}
}

.home-museums {
	background: $yellow;
	border-right: 1px solid white;
	&:hover {
		background: darken($yellow, $hover-change);
	}
}

.home-artists {
	background: $blue;
	border-right: 1px solid white;
	&:hover {
		background: darken($blue, $hover-change);
	}
}

.home-paintings {
	background: $red;
	&:hover {
		background: darken($red, $hover-change);
	}
}







